@import url('https://fonts.googleapis.com/css?family=Poppins:800&display=swap');
* { font-family: Poppins; }

#wrapper {
    width: 75%;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

#painter { width: 100%; }

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin: 5px 0;
}

.control *:last-child {
    margin-left: auto;
}

sup {
    font-size: 50%;
    cursor: pointer;
    color: blue;
}

sup:hover {
    text-decoration: underline;
}

#customContextMenu {
    border: 1px solid black;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.ctxControl {
    display: flex;
    margin: 5px 0;
}

.ctxControl *:last-child {
    margin-left: auto;
}

.ctxControl button:first-of-type {
    margin-right: 10px;
}

.ctxControl button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.endPath {
    background-color: red;
    color: white;
    border: 1px solid red !important;
}

.endPath:hover {
    background-color: white;
    color: red;
}

.done {
    background-color: #40c4ff;
    color: white;
    border: 1px solid #40c4ff !important;
}

.done:hover {
    background-color: white;
    color: #40c4ff;
}

.slider {
    border: 1px solid black;
    background-color: #f00;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.slider::before {
    content: '';
    transition: .5s;
    position: relative;
    display: flex;
    top: calc(10% - 1px);
    left: calc(5% - 1px);
    width: 40%;
    height: 80%;
    background-color: #fff;
    border: 1px solid black;
}

input:checked + .slider {
    background-color: #0f0;
}

input:checked + .slider::before {
    left: calc(55% - 1px);
}

#presetContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.preset {
    margin: 10px;
    border: 1px solid black;
    padding: 3px;
    display: inline-flex;
    flex-direction: column;
    min-width: 25%;
}